body {
    text-align: center;
    font: normal 15px Arial;
    background-color: rgb(28, 119, 150);
}

header {
    color: white;
}

#txtano {
    width: 80px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.299);
}

footer {
    font-size: 15px;
    font-style: italic;
    color: white;
}